<select id="scPresetManager" ng-model="currentPreset">
  <option value="">Animation Presets</option>
  <option value="1">Running in Circles</option>
  <option value="8">Double Spinner</option>
  <option value="7">Running in Arcs</option>
  <option value="9">Living Matter</option>
  <option value="2">Juggling Balls</option>
  <option value="10">Pinching Boxes</option>
  <option value="4">Floating Conics</option>
  <option value="3">Square of Squares</option>
  <option value="6">Runway</option>
  <option value="5">Tunnel</option>
  <option value="0">Empty Scene</option>
</select>