<div class="scOptions_group">
  <div>Polygon Size</div>
  <div class="inputNumber">
    <div class="inputNumber_sliderArea">
      <slider floor="1" ceiling="100" step="1" precision="0" ng-model="model.dx"></slider>
    </div>
    <div class="inputNumber_inputArea">
      <input id="scOptionActor_size" type="text" ng-model="model.dx" sanitize-input="integer" />
    </div>
  </div>
</div>
<div class="scOptions_group">
  <div>Sides</div>
  <div class="inputNumber">
    <div class="inputNumber_sliderArea">
      <slider floor="3" ceiling="10" step="1" precision="0" ng-model="model.sides"></slider>
    </div>
    <div class="inputNumber_inputArea">
      <input id="scOptionActor_sides" type="text" ng-model="model.sides" sanitize-input="integer" />
    </div>
  </div>
</div>
<div class="scOptions_group">
  <div>Start Angle (degrees)</div>
  <div class="inputNumber">
    <div class="inputNumber_sliderArea">
      <slider floor="0" ceiling="120" step="1" precision="0" ng-model="model.angle"></slider>
    </div>
    <div class="inputNumber_inputArea">
      <input id="scOptionActor_angle" type="text" ng-model="model.angle" sanitize-input="integer" />
    </div>
  </div>
</div>
<div ng-include="'options/actor/partials/common/position.html'"></div>
<div ng-include="'options/actor/partials/common/style_actor.html'"></div>
<div ng-include="'options/actor/partials/common/style_fill.html'"></div>
<div ng-include="'options/actor/partials/common/style_stroke.html'"></div>