$c-white: #f0f0e1;

$c-grey1: #eee;
$c-grey2: #cecebf;
$c-grey3: #bdbdae;
$c-grey4: #dfdfd0;
$c-grey5: #79796a;

$c-darkgrey: #333;

$c-darkred: #590000;
$c-red: #a60311;

$c-blue: #9cced9;

$f-main: "Trebuchet MS", Helvetica, sans-serif;