<div class="scOptions_group">
  <div>Easing</div>
  <select id="scOptionTrick_easing" ng-model="model.easing">
    <option value="linear">Linear</option>
    <option value="quad-in-out">Quad In/Out</option>
    <option value="quad-in">Quad In</option>
    <option value="quad-out">Quad Out</option>
    <option value="cubic-in-out">Cubic In/Out</option>
    <option value="cubic-in">Cubic In</option>
    <option value="cubic-out">Cubic Out</option>
    <option value="quart-in-out">Quart In/Out</option>
    <option value="quart-in">Quart In</option>
    <option value="quart-out">Quart Out</option>
    <option value="quint-in-out">Quint In/Out</option>
    <option value="quint-in">Quint In</option>
    <option value="quint-out">Quint Out</option>
    <option value="expo-in-out">Expo In/Out</option>
    <option value="expo-in">Expo In</option>
    <option value="expo-out">Expo Out</option>
    <option value="circ-in-out">Circ In/Out</option>
    <option value="circ-in">Circ In</option>
    <option value="circ-out">Circ Out</option>
    <option value="sine-in-out">Sine In/Out</option>
    <option value="sine-in">Sine In</option>
    <option value="sine-out">Sine Out</option>
    <option value="back-in-out">Back In/Out</option>
    <option value="back-in">Back In</option>
    <option value="back-out">Back Out</option>
    <option value="bounce-in-out">Bounce In/Out</option>
    <option value="bounce-in">Bounce In</option>
    <option value="bounce-out">Bounce Out</option>
    <option value="elastic-in-out">Elastic In/Out</option>
    <option value="elastic-in">Elastic In</option>
    <option value="elastic-out">Elastic Out</option>
  </select>
</div>